.nav-bar div a:first-child {
    background-color: #1F0A4E;
    color: #FAD318;
}
.products-container {
    background-color: #4618AC;
}
input:focus {
    outline: none;
}
/* filter start */
.filter-search > label, .type > span, .platforms > span, .released > span, .metacritic > span {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 10px;
}
.filter-table {
    margin-top: 50px;
    background-color: #5825CC;
    color: white;
    font-size: 16px;
    padding: 20px;
    /* box-shadow: inset 0 1px 3px #1f0a4e; */
    
}
.filter-table .filter-search {
    display: flex;
    flex-direction: column;
}
.filter-search input {
    background-color: #5825CC;
    color: #ada1c8;
    width: 100%;
    height: 40px;
    background: rgba(0,0,0,.2);
    box-shadow: inset 0 1px 3px #1f0a4e;
    border: none;
    margin-left: auto;
    margin-right: auto;
}
.type-count,.platforms-count {
    color: rgba(255,255,255,.6);
}
.type, .platforms, .metacritic, .released,.filter-search {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.released div, .metacritic div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.released div input, .metacritic div input {
    width: 120px;
}
/* filter end */

/* type css */
.type label input {
    width: 20px;
    height: 20px;
}
.type label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
/* platforms css */
.platforms label input {
    width: 20px;
    height: 20px;
}
.platforms label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}




/* product card start */
.count-order{
    margin-top: 50px;
    margin-bottom: 20px;
    outline: none;
}
.order-type {
    color: white;
}
.order-type span i {
    font-size: 25px;
}
#my-select-order {
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-weight: 700;
    min-width: 100px;
    width: auto;
}
#my-select-order option {
    color: black;
}
#my-select-order:hover {
    color: #F4D318;
}
.order-type {
    text-align: right;
}
.count-result {
    color: white;
}
.count-result span {
    font-weight: 700;
}
.product-card {
    overflow: hidden;
    position: relative;
    margin-bottom: 24px;
    width: 100%;
    background-color: #1F0A4E;
    box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
}
.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.info-name-price {
    height: 100%;
}

.product-card .product-info a span p {
    margin: 0;
}
.product-card .product-info a {
    padding: 10px;
    flex-direction: column;
    display: flex;
    color: white;
    height: 140px;
    text-decoration: none;
}
.price-rating h6 span {
    font-size: 20px;
    color: white;
}
.price-rating h6 {
    color: #8F85A7;
}

.product-card:hover{
    cursor: pointer;
}
.product-card:hover img,.product-card:hover .product-info {
    opacity: 0.8;
}
.product-card:hover .product-overview {
    transform: translateY(0);
}
.info-name-price h6 a {
    text-decoration: none;
    color: white;
}
.product-overview {
    transform: translateY(-100%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
    max-height: 100%;
    top: 0px;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
}
.platforms-icon i {
    font-size: 20px;
    margin-right: 10px;
}
.product-overview h6 {
    margin: 0px;
    margin-top: 10px;
}
.product-rating {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(124, 252, 0 ,0.5);
    border-radius: 5px;
}
.product-rating.blue {
    border: 1px solid rgba(124, 252, 0 ,0.5);
    color: 	#7CFC00;
}
.product-rating.red {
    border: 1px solid rgba(255, 0, 0,0.5) ;
    color: red;

}
.product-rating.orange {
    border: 1px solid rgba(242, 121, 53, 0.5);
    color: orange;
}
.product-rating.yellow {
    border: 1px solid 	rgba(255,255,0, 0.5);
    color: yellow;
}
.product-rating span {
    font-size: 18px;
    font-weight: 600;
}
.add-to-cart, .add-to-cart1 {
    float: right;
}
.add-to-cart:hover {
    color: #FAD318;
}

