
body {
    background-color: var(--main-color);
}
.products-container {
    background-color: var(--main-color);
    /* margin-top: 60px; */
}
.allgames-img {
    margin-top: 60px;
    position: relative;
    overflow: hidden;
    height: 240px;
}
.allgames-img img {
    height: 100%;
    width:240px;
    object-fit: cover;
    transform: scale(1);
    transition: transform .5s ease;
}
.allgames-img:hover img {
    transform: scale(1.2);
    overflow: hidden;
}
.allgames-img h1 {
    position: absolute;
    line-height: .9;
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* top: 0; */
    margin: 0;
}
input:focus {
    outline: none;
}
/* filter start */
.filter-search > label, .type > span, .platforms > span, .released > span, .metacritic > span {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 10px;
}
.filter-table {
    margin-top: 20px;
    background-color: var(--secondary-color);
    color: white;
    font-size: 16px;
    padding: 20px;
    /* box-shadow: inset 0 1px 3px #1f0a4e; */
    
}
.filter-table .filter-search {
    display: flex;
    flex-direction: column;
}
.filter-search input {
    background-color: white;
    width: 100%;
    height: 40px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}
.type-count,.platforms-count {
    color: rgba(255,255,255,.6);
}
.type, .platforms, .metacritic, .released,.filter-search {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.released div, .metacritic div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.released div input, .metacritic div input {
    width: 120px;
}
/* filter end */

/* type css */
.type label input {
    width: 20px;
    height: 20px;
}
.type label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
/* platforms css */
.platforms label input {
    width: 20px;
    height: 20px;
}
.platforms label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}




/* product card start */
.count-order{
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
}
.order-type {
    color: white;
}
.order-type span i {
    font-size: 25px;
}
#my-select-order {
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-weight: 700;
    min-width: 100px;
    width: auto;
}
#my-select-order option {
    color: black;
}
#my-select-order:hover {
    color: #F4D318;
}
.order-type {
    text-align: right;
}
.count-result {
    color: white;
}
.count-result span {
    font-weight: 700;
}
.product-card {
    overflow: hidden;
    position: relative;
    margin-bottom: 24px;
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
}
.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.info-name-price {
    height: 100%;
}

.product-card .product-info a span p {
    margin: 0;
}
.product-card .product-info a {
    padding: 10px;
    flex-direction: column;
    display: flex;
    color: white;
    height: 140px;
    text-decoration: none;
}
.price-rating h6 span {
    font-size: 20px;
    color: white;
}
.price-rating h6 {
    color: #8F85A7;
}

.product-card:hover{
    cursor: pointer;
}
.product-card:hover img,.product-card:hover .product-info {
    opacity: 0.8;
}
.product-card:hover .product-overview {
    transform: translateY(0);
}
.info-name-price h6 a {
    text-decoration: none;
    color: white;
}
.product-overview {
    transform: translateY(-100%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
    max-height: 100%;
    top: 0px;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
}
.platforms-icon i {
    font-size: 20px;
    margin-right: 10px;
}
.product-overview h6 {
    margin: 0px;
    margin-top: 10px;
}
.product-rating {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(124, 252, 0 ,0.5);
    border-radius: 5px;
}
.product-rating.blue {
    border: 1px solid rgba(124, 252, 0 ,0.5);
    color: 	#7CFC00;
}
.product-rating.red {
    border: 1px solid rgba(255, 0, 0,0.5) ;
    color: red;

}
.product-rating.orange {
    border: 1px solid rgba(242, 121, 53, 0.5);
    color: orange;
}
.product-rating.yellow {
    border: 1px solid 	rgba(255,255,0, 0.5);
    color: yellow;
}
.product-rating span {
    font-size: 18px;
    font-weight: 600;
}
.add-to-cart, .add-to-cart1 {
    float: right;
}
.add-to-cart:hover {
    color: #FAD318;
}



.nav-bar button:nth-child(2){
    color: #FAD318;
    border-bottom: 3px solid;
}

.all_button_pages {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.all_button_pages i {
    color: white
}

.change-pages button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0.5px solid #eee;
    color: white;
}

.change-pages {
    display: flex;
}

.change-pages .page {
    margin: 0px 5px;
}

.number-pages {
    display: flex;
    gap: 5px;
}

.hidden_button {
    display: none;
}

.active_button {
    background-color: #FAD318 !important;
}
.footer {
    margin-top: 30px;
}
.filter-table-close {
    display: none;
}
.filter-icon {
    display: none;
    color: black;
    position: fixed;
    border-radius: 0 40px 40px 0;
    padding: 20px 10px;
    left: 0;
    font-size: 20px;
    transform: translateY(-50%);
    top: 50%;
    z-index: 998;
    background-color: white;
    cursor: pointer;
}
/* reponsive */
@media (max-width: 1204px) {
    .product-card img {
        height: 200px;
    }
    .info-name-price p {
        font-size: 13px;
    }
    .price-rating h6 {
        font-size: 14px;
    }
    .product-rating {
        width: 30px;
        height: 30px;
    }
    .product-card .product-info a {
        height: 120px;
    }
}
@media (max-width: 992px) {
    .type label {
        font-size: 14px;
    }
    .product-card img {
        height: 160px;
    }
    .info-name-price p {
        font-size: 10px;
    }
    .product-card .product-info a {
        height: 100px;
    }
    .price-rating h6 span {
        font-size: 10px;
    }
    .product-rating {
        width: 20px;
        height: 20px;
    }
    .product-rating span {
        font-size: 12px
    }
}
@media (max-width: 768px) {
    .filter-icon {
        display: block;
    }
    .filter-table {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 125px;
    z-index: 999;
    margin-top: 0;
    }
    .filter-table.active {
        display: block;
    }
    .filter-table-close {
        display: block;
        float: right;
    }
    .filter-table-close:hover {
        color: red;
        cursor: pointer;
    }
    .product-card img {
        height: 220px;
    }
    .info-name-price p {
        font-size: 14px;
    }
    .price-rating h6 span {
        font-size: 14px;
    }
}
@media (max-width: 576px) {
    .product-card {
        width: 80%;
    }
}