* {
    box-sizing: border-box;
}
body {
    background-color: var(--main-color) !important;
}
.header,.header-top-bar {
    height: 100px;
    background-color: var(--secondary-color);
}
.content {
    margin-top: 30px;
    min-height: 500px;
    margin-bottom: 30px;
}
.cart-container1 {
    min-height: 300px;
    max-height: 700px;
    padding: 30px;
    background-color: var(--secondary-color);
}
.content .cart-container {
    max-height: 600px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
}
.cart-container .cart-item {
    background-color: var(--main-color);
}

.cart-item img {
    width: 100px;
    height: 140px;
    object-fit: cover;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 10px;

}
.cart-item-info1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-info1 a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.add, .minus {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0,0,0,0);
    border-color: #fff;
    color: white;
    background: none;
}
.cart-heading {
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}

.product-name-des {
    font-size: 12px;
    color: rgba(255,255,255,.6);
}
.cart-item-price1 {
    position: relative;
    height: 140px;
    padding-right: 20px;
}
.cart-item-price1 span:first-child {
    font-size: 25px;
    font-weight: 600;
    line-height: 140px;
}
.trash-icon {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
}
.trash-icon:hover {
    color: red;
}
.cart-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-empty p {
    color: white;
}


.total-price {
    width: 75%;
    height: 300px;
    padding: 30px;
    background-color: var(--secondary-color);
}
.total-price h6 {
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}
.checkout {
    width: 100%;
    background-color: #fad318;
    border: none;
    font-weight: 700;
    height: 35px;
    margin-bottom: 10px;
}
.checkout:hover {
    background-color: #F5A623;
}
.calc-total p {
    color: white;
    font-size: 12px;
    margin: 0;
}
.price-calc {
    font-size: 17px;
    font-weight: 600;
}
.calc-total p:last-child {
    font-size: 16px;
    font-weight: 600;
}
.calc-total p:last-child span {
    font-size: 20px;
}
#discount-code {
    margin-top: 20px;
    font-size: 15px;
    width: 70%;
    height: 30px;
    border: none;
    outline: none;
}
.discount-code-submit {
    margin-top: 20px;
    background-color: rgba(0,0,0,0);
    border: 1px solid;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.discount-code-submit:hover {
    background-color: rgba(0,0,0,.3);
    border-color: #fad318;
}

/* modal */
.modal {
  display: none;
  /* display: block; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal.active {
    display: block;
}
.modal-content {
  background-color:var(--main-color);
  margin: 15% auto;
  padding: 20px;
  /* border: 1px solid #888; */
  width: 40%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  color: white;
}

.close {
  position: absolute;
  color: #aaa;
  top: 0px;
  right: 5px;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.modal button {
    outline: none;
    background-color: rgba(0,0,0,0);
    border: none;
    width: 80px;
    height: 30px;
}
.close-modal {
    color: white;
}
.accept-modal {
    color: red;
    font-weight: 600    ;
}
.modal-content p {
    font-weight: 600;
    font-size: 20px;
}
/* Thiết lập thanh cuộn dọc */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Thiết lập background cho thanh cuộn */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Thiết lập style cho phần thân của thanh cuộn */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
  }
  
  /* Thiết lập style cho phần đầu và cuối của thanh cuộn */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  .return-carts {
      margin-left: 40px;
      text-decoration: none;
      color: white;
      font-size: 18px;
      cursor: pointer;
  }
  .return-carts:hover {
      color: #fad318;
  }



  .header-checkout {
    color: white;
    font-size: 24px;
}
.logo {
    cursor: pointer;
}

/* responsive */
@media (max-width: 1200px) {
    .total-price {
        width: 100%;
    }
}
@media (max-width: 992px) {
    .checkout {
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    .cart-container1 {
        margin-bottom: 20px;
    }
}
@media (max-width: 410px) {
    .cart-item-info1 a {
        font-size: 12px;
    }   
    .cart-item {
        display: block;
    }
    .cart-item-price1 {
        height: 100%;
    }
    .cart-item-price1 span:first-child {
        line-height: 100%;
    }
    .trash-icon {
        top: 0;
        right: 0;
    }
}
@media (max-width: 300px) {
    .add-minus {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
}