@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
* {
    box-sizing: border-box;
}
body {
    background-color: #4618AC !important;
}
.header,.header-top-bar {
    height: 100px;
    background-color: #3D1597;
}
.content {
    margin-top: 30px;
    margin-bottom: 30px;
}
#checkout {
    background-color: #3D1597;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}
#checkout input {
    height: 40px;
    margin-bottom: 15px;
    background-color: #4618AC;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 0;
    color: white;   
    outline: none;
}
#checkout input::placeholder {
    color: rgba(204, 204, 204, 0.4)
}
/* #checkout input:focus {
    background-color: white;
    color: black;
} */
#checkout textarea {
    height: 80px;
    background-color: #4618AC;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 0;
    color: white;   
    outline: none;
}
#checkout h6 {
    color: white;
    font-size: 18px;
    font-weight: 600;
}
#checkout label {
    color: white;
    font-size: 14px;
}
#checkout input {
    margin: 0;
}
.name-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.name-input input {
    width: 48%;
}
#checkout select {
    height: 40px;
    outline: none;
    background-color: #4618AC;
    color: white;
    border: none;
}
#checkout select option {
    background-color: white;
    color: black;
}


/* payment */
.payment-container {
    display: flex;
    flex-direction: column;
    width: 70%;    
    padding: 30px;
    color: white;
    background-color: #3D1597;
    gap: 20px;
}
.payment-container h6 {
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.price {
    display: flex;
    justify-content: space-between;
}
.price p {
    font-size: 16px;
    margin: 0;
}
.payment-method {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.payment-method span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4618AC;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
.payment-method span label {
    width: 50px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.payment-method span:first-child label img {
    width: 20px;
}
.payment-method span label img {
    width: 42px;
}
.payment-container button {
    width: 100%;
    background-color: #fad318;
    border: none;
    font-weight: 700;
    height: 35px;
}
.payment-container button:hover {
    background-color: #F5A623;
    
}
.payment-container hr {
    margin: 0;
}
.email-err, .name-err {
    color: red;
    font-size: 12px;
    display: none;
}
.email-err.active, .name-err.active {
    display: block;
}
#products {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 180px;
    overflow-y: auto;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-item-info1 {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 5px;
}
.cart-item .cart-item-info1 img{
    width: 60px;
    height: 80px;
    object-fit: cover;
}
.cart-item .cart-item-name a {
    text-decoration: none;
    color: white;
}
.total-price {
    font-weight: 600;
    font-size: 20px;
}
.price {
    display: flex;
    align-items: center;
}
.price h6 {
    margin: 0;
}

/* Thiết lập thanh cuộn dọc */
::-webkit-scrollbar {
  width: 12px;
}

/* Thiết lập background cho thanh cuộn */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* Thiết lập style cho phần thân của thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

/* Thiết lập style cho phần đầu và cuối của thanh cuộn */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.return-carts {
    margin-left: 40px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.return-carts:hover {
    color: #fad318;
}




.center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.popup {
  width:350px;
  height:300px;
  padding:30px 20px;
  background:#f5f5f5;
  border-radius:10px;
  box-sizing:border-box;
  z-index:2;
  text-align:center;
  opacity:0;
  top:-200%;
  transform:translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.popup.active {
  opacity:1;
  top:50%;
  transform:translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.popup .icon {
  margin:5px 0px;
  width:50px;
  height:50px;
  border:2px solid #34f234;
  text-align:center;
  display:inline-block;
  border-radius:50%;
  line-height:60px;
}
.popup .icon i.fa {
  font-size:30px;
  color:#34f234;
} 
.popup .title {
  margin:5px 0px;
  font-size:30px;
  font-weight:600;
}
.popup .description {
  color:#222;
  font-size:15px;
  padding:5px;
}
.popup .dismiss-btn {
  margin-top:15px;
}
.popup .dismiss-btn button {
  padding:10px 20px;
  background:#111;
  color:#f5f5f5;
  border:2px solid #111;
  font-size:16px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
}
.popup .dismiss-btn button:hover {
  color:#111;
  background:#f5f5f5;
}
.popup > div {
  position:relative;
  top:10px;
  opacity:0;
}
.popup.active > div {
  top:0px;
  opacity:1;
}
.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .description {
  transition: all 300ms ease-in-out 350ms;
}
.popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}
.done-container {
    display: none;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}