/* footer start */
.footer {
    padding-bottom: 24px;
    width: 100%;
    background-color: var(--secondary-color);
}
.footer .payment-type {
    background-color: white;
    padding:10px 0px;
}
.footer .footer-icon {
    margin-top: 24px;
    color: white;
    font-size: 30px;
}
.footer .footer-content {
    margin-top: 24px;
    color: white;
}
/* footer end */

@media (max-width: 425px) {
    .footer-content p {
        font-size: 12px;
    }
}
@media (max-width: 323px) {
    .footer-content p {
        font-size: 10px;
    }
}