/* top bar start */
.search-input-container {
    width: 100%;
    position: relative;
    /* display: flex; */
    align-items: center;
}
.search-input-container button {
    position: absolute;
    width: 35px;
    height: 35px;
    border: 1px solid white;
}
.search-input {
    width: 100%;
    /* width: 250px; */
    height: 35px;
    background-color: #311178;
    border: 1px solid white;
    color: white;
}
.search-input:focus {
    outline: none;
}
.header-top-bar {
    background-color: #311178;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0px;
}
.top-bar {
    height: 60px;
}
.top-bar .function-btn {
    color: white;
}
.top-bar .function-btn > a {
    color: white;
}
.top-bar .function-btn .cart-icon > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.top-bar .function-btn .cart-icon > a:hover {
    color: #FAD318;
}
.user-login {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}
.user-login > a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.user-login > a:hover {
    color: #FAD318;

}
.person-login {
    display: flex;
    align-items: center;
    /* height: 100px; */
}
.person-login p {
    margin: 0;
}
.person-login i {
    font-size: 25px;
}
.user-login > a > p {
    font-size: 14px;
}
.search-result-area {
    top: 50px;
    z-index: 999;
    /* transform: translateY(100%); */
    position: absolute;
    /* padding: 10px; */
    width: 100%;
    /* height: 50px; */
    background-color: white;
}
.search-result-area p {
    margin: 10px 0px;
}
/* top bar end */

/* nav bar start */
.header-nav-bar {
    /* background-color: #311178; */
}
/* .nav-bar {
    height: 50px;
} */
.nav-bar > button {
    background: none;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0 20px;
    line-height: 60px;
}
.nav-bar > button:hover {
    background-color: #1F0A4E;
    color: #FAD318;
}
.logo {
    cursor: pointer;
}

.search-result {
    padding: 10px;
    text-decoration: none;
    color: black;
}
.search-result:hover {
    background-color: #ccc;
    cursor: pointer;
}
.cart-count {
    position: absolute;
    margin: 0;
    font-size: 12px;
    padding: 10%;
    top: 0px;
    right: -20%;
    background-color: red;
    border-radius: 50px;
    opacity: 0.6;
}
.cart-icon {
    position: relative;
}
.cart-popup {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #5825CC;
    width: 400px;
    /* height: 100px; */
    right: 0px;
    z-index: 999;
}
.cart-popup.active {
    display: flex
}
.cart-popup-header {
    padding: 10px;
}
.cart-popup-header h5 {
    margin: 0;
    font-weight: 700;
}
.cart-popup-header i{
    font-size: 20px;
}
.cart-popup-content ul {
    list-style: none;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}
.popup-cart-item {
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup-cart-item.shopping-cart-empty {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-cart-item.shopping-cart-empty svg {
    display: block;
}
.popup-cart-item div:first-child {
    width: 80%;
}
.cart-item-info span:first-child{
    font-weight: 700;
}
.popup-cart-item a {
    text-decoration: none;
    color: white;
    max-width: 50%;
}
.popup-cart-item img{
    width: 80px;
    height: 60px;
    object-fit: cover;
}
.cart-popup-footer {
    padding: 10px;
}
.cart-popup-footer p {
    margin: 0;
}
.cart-popup-footer span {
    font-size: 30px;
    font-weight: 600;
}
.cart-popup-footer.none {
    display: none !important;
}
#view-cart {
    background-color: #fad318;
    color: #000;
    border: none;
    text-align: center;
    margin: 10px;
    height: 35px;
    font-weight: 700;
}
#view-cart:hover {
    background-color: #f5a623;
}
.cart-popup-header > i:hover {
    color: red;
    cursor: pointer;
}
