/* top bar start */
.search-input-container {
    width: 30%;
    display: flex;
    align-items: center;
    position: relative;
}
.search-input-container button {
    width: 35px;
    height: 35px;
    border: 1px solid white;
}
.search-input {
    width: 100%;
    height: 35px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 100px;
}
.search-input::placeholder {
   padding-left: 10px;
}
.search-input:focus {
    outline: none;
}
.header-top-bar {
    background-color: var(--secondary-color);
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0px;
    transition: 0.5 ease;
}
.top-bar {
    height: 60px;
    padding: 0 100px;
}
.top-bar .function-btn {
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}
.person-icon i{
    font-size: 25px;
}
.top-bar .function-btn > a {
    color: white;
}
.top-bar .function-btn .cart-icon > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.top-bar .function-btn .cart-icon > a:hover {
    color: #FAD318;
}
.user-login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.user-login > a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.user-login > a:hover {
    color: #FAD318;
}
.user-login > i {
    font-size: 25px;
}
.person-login {
    display: flex;
    align-items: center;
    /* height: 100px; */
}
.person-login p {
    margin: 0;
}
.person-login i {
    font-size: 25px;
}
.user-login > a > p {
    font-size: 14px;
}
.search-result-area {
    top: 50px;
    z-index: 999;
    /* transform: translateY(100%); */
    position: absolute;
    /* padding: 10px; */
    width: 100%;
    /* height: 50px; */
    background-color: white;
}
.search-result-area p {
    margin: 10px 0px;
}
/* top bar end */

/* nav bar start */
.header-nav-bar {
    /* background-color: var(--secondary-color); */
}
/* .nav-bar {
    height: 50px;
} */
.nav-bar > button {
    background: none;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0 20px;
    line-height: 57px;
    border-bottom: 3px solid var(--secondary-color);
}
.nav-bar > button:hover {
    color: #FAD318;
    border-bottom: 3px solid;
}
.logo {
    cursor: pointer;
}

.search-result {
    padding: 10px;
    text-decoration: none;
    color: black;
}
.search-result:hover {
    background-color: #ccc;
    cursor: pointer;
}
.cart-count {
    position: absolute;
    margin: 0;
    font-size: 12px;
    padding: 10%;
    top: 0px;
    right: -20%;
    background-color: red;
    border-radius: 50px;
}
.dropdown-item:hover {
    background-color: var(--span-color) !important;
}
.cart-icon {
    position: relative;
}
.cart-popup {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--main-color);
    width: 400px;
    /* height: 100px; */
    right: 0px;
    z-index: 999;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.cart-popup.active {
    display: flex
}
.cart-popup-header {
    padding: 10px;
}
.cart-popup-header h5 {
    margin: 0;
    font-weight: 700;
}
.cart-popup-header i{
    font-size: 20px;
}
.cart-popup-content ul {
    list-style: none;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}
.popup-cart-item {
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup-cart-item.shopping-cart-empty {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-cart-item.shopping-cart-empty svg {
    display: block;
}
.popup-cart-item div:first-child {
    width: 80%;
}
.cart-item-info span:first-child{
    font-weight: 700;
}
.popup-cart-item a {
    text-decoration: none;
    color: white;
    max-width: 50%;
}
.popup-cart-item img{
    width: 80px;
    height: 60px;
    object-fit: cover;
}
.cart-popup-footer {
    padding: 10px;
}
.cart-popup-footer p {
    margin: 0;
}
.cart-popup-footer span {
    font-size: 30px;
    font-weight: 600;
}
.cart-popup-footer.none {
    display: none !important;
}
#view-cart {
    background-color: #fad318;
    color: #000;
    border: none;
    text-align: center;
    margin: 10px;
    height: 35px;
    font-weight: 700;
}
#view-cart:hover {
    background-color: #f5a623;
}
.cart-popup-header > i:hover {
    color: red;
    cursor: pointer;
}
/* Thiết lập thanh cuộn dọc */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Thiết lập background cho thanh cuộn */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Thiết lập style cho phần thân của thanh cuộn */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
  }
  
  /* Thiết lập style cho phần đầu và cuối của thanh cuộn */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  .nav-bar-icon i{
    font-size: 30px;
    color: white;
    cursor: pointer;
    line-height: 60px;
  }
  .nav-bar-icon i.active {
    color: var(--span-color) ;
  }
  .nav-bar-icon {
    display: none;
    width: 60px;
    height: 60px;
    text-align: center;
  }
  .search-icon {
    color: white;
    display: none;
  }
  .x-icon {
    color: black;
    font-size: 30px;
    display: none;
  }
  .search-result-area a img {
    height: 50px;
    object-fit: cover;
  }

  @media (max-width: 1191px) {
    .nav-bar-icon {
        display: block;
        top: 0;
        left: 0;
    }
    .nav-bar {
        position: absolute;
        top: 60px;
        left: 0px;
        background-color: var(--main-color);
        opacity: 1;
        width: 40%;
        height: 100vh;
        display: none;
    }
    .nav-bar.active {
        display: block;
    }
    .nav-bar button {
        width: 100%;
        text-align: left;
    }
    .search-input-container {
        width: 40%;
    }
    .top-bar {
        padding: 0px;
    }
  }
  @media (max-width: 864px) {
    .search-result-area a img {
        height: 25px;
        object-fit: cover;
    }
  }
  @media (max-width: 768px) {
    .nav-bar-icon {
        display: block;
        top: 0;
        left: 0;
    }
    .nav-bar {
        position: absolute;
        top: 60px;
        left: 0px;
        background-color: var(--main-color);
        opacity: 1;
        width: 40%;
        height: 100vh;
        display: none;
    }
    .nav-bar.active {
        display: block;
    }
    .nav-bar button {
        width: 100%;
        text-align: left;
    }
    .nav-bar button:hover {
        color: #e9e8f7;
        background: #32117d;
    }
    .search-input-container {
        width: 50%;
        /* padding: 0px; */
    }
    .top-bar {
        padding: 0;
    }
  }
  @media (max-width: 650px) {
    .search-icon {
        display: block;
    }
    .search-icon.active {
        display: none;
    }
    .search-input {
        display: none;
    }
    .search-input.active {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        border: none;
        border-radius: 0px;
        width: 100%;
        height: 40px;
    }
    .search-input-container {
        justify-content: end;
    }
    .search-input-container.active {
        top: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: #5825CC;
        z-index: 999;
    }
    .x-icon.active {
        display: block;
        position: fixed ;
        top: 0;
        line-height: 40px;
        width: 30px;
    }
    .search-result-area {
        top: 40px;
    }
    .top-bar .function-btn {
        gap: 20px;
    }
    .user-login {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        flex-direction: column;
        background-color: #32117d;
        width: 20%;
    }
    .user-login.active {
        display: block;
    }
    .user-login > span {
        display: none;
    }
    .user-login a {
        padding: 10px;
    }
    .person-icon {
        top: 0px;
    }
    .cart-popup {
        width: 300px;
    }
  }
  @media (max-width: 450px) {
    .top-bar .function-btn {
        gap: 10px
    }
  }

  .user-login > span {
    transform: rotate(-30deg)
  }
