* {
    box-sizing: border-box;
}
body {
    background-color: var(--main-color) !important;
}

/* slider start */
.main-slider {
    color: black;
}
.slider {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    margin-top: 60px;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent !important;
}
.owl-nav .owl-next {
    right: 10px;
}
.owl-nav .owl-prev {
    left: 10px;
}
.owl-nav .owl-next span,.owl-nav .owl-prev span {
    font-size: 80px;
    color: #00e205;
}
.owl-nav .owl-next span:hover,.owl-nav .owl-prev span:hover {
    color: white;
}
.owl-dots {
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
}
.main-slider .owl-item img {
    height: 550px;
    object-fit: cover;
}
/* slider end */


/* recommended start */
.recommended {
    margin-top: 24px;
    background-color: var(--main-color);
    margin-bottom: 24px;
}
.rcm-banner {
    cursor: pointer;
}
.rcm-banner a {
    position: relative;
}
.rcm-banner a h4 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    left: 20px;
}
.rcm-banner img:hover {
    opacity: 0.8;
}


/* prouct-card-start */
.product-card {
    overflow: hidden;
    position: relative;
    margin-bottom: 24px;
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
}
.product-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}
.info-name-price {
    height: 100%;
}

.product-card .product-info a span p {
    margin: 0;
}
.product-card .product-info a {
    padding: 10px;
    flex-direction: column;
    display: flex;
    color: white;
    height: 140px;
    text-decoration: none;
}
.price-rating h6 span {
    font-size: 20px;
    color: white;
}
.price-rating h6 {
    color: #8F85A7;
}

.product-card:hover{
    cursor: pointer;
}
.product-card:hover img,.product-card:hover .product-info {
    opacity: 0.8;
}
.product-card:hover .product-overview {
    transform: translateY(0);
}
.info-name-price h6 a {
    text-decoration: none;
    color: white;
}
.product-overview {
    transform: translateY(-100%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
    max-height: 100%;
    top: 0px;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
}
.platforms-icon i {
    font-size: 20px;
    margin-right: 10px;
}
.product-overview h6 {
    margin: 0px;
    margin-top: 10px;
}
.product-rating {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(124, 252, 0 ,0.5);
    border-radius: 5px;
}
.product-rating.blue {
    border: 1px solid rgba(124, 252, 0 ,0.5);
    color: 	#7CFC00;
}
.product-rating.red {
    border: 1px solid rgba(255, 0, 0,0.5) ;
    color: red;

}
.product-rating.orange {
    border: 1px solid rgba(242, 121, 53, 0.5);
    color: orange;
}
.product-rating.yellow {
    border: 1px solid 	rgba(255,255,0, 0.5);
    color: yellow;
}
.product-rating span {
    font-size: 18px;
    font-weight: 600;
}
.add-to-cart, .add-to-cart1 {
    float: right;
}
.add-to-cart:hover {
    color: #FAD318;
}
/* .add-to-cart-icon {
    font-weight: 800;
    font-size: 30px;
} */


/*hot game banner start */
.hot-game {
    padding-bottom: 24px;
    padding-top: 24px;
    /* background-color: var(--secondary-color); */
}
.hot-game-banner a {
    position: relative;
}
.hot-game a h4 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    left: 20px;
}

.hot-game-banner {
    /* margin-top: 12px; */
    cursor: pointer;
}
.hot-game-banner img:hover {
    opacity: 0.8;
}

/* hot game banner end */

/* coming soon banner start */
.coming-soon {
    background-color: var(--main-color);
    padding-top: 24px; 
    padding-bottom: 24px;
    /* padding-top: 24px; */
}
.coming-soon-banner a {
    position: relative;
}
.coming-soon-banner a h4 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    left: 20px;
}
.coming-soon-banner img {
    width: 100%;
}
.coming-soon-banner img:hover {
    opacity: 0.8;
}
.coming-soon-product {
    margin-top: 30px;
}
.coming-soon-pub {
    box-shadow: 0 4px 5px rgb(0 0 0 / 20%);

}
.coming-soon-pub img {
    width: 100%;
    object-fit: cover;
    height: 320px;
}
.coming-soon-pub-product {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
    /* width: 100%; */
}
.coming-soon-pub-product img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.pub-product-overview {
    transform: translateY(-100%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
    max-height: 100%;
    top: 0px;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}
.coming-soon-pub-product:hover .pub-product-overview  {
    transform: translateY(0);
}
/* coming soon banner end */


/* categories-start */
.categories {
    background-color: var(--secondary-color);
    padding-top: 24px; 
    padding-bottom: 24px;
}
.categories-banner{
    position: relative;
}
.categories-banner h4 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    left: 20px;
}
/* categories end */

/* community banner start */
.community-banner {
    background-image: url(../images/community-bgr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 380px;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
.community-banner a {
    text-decoration: none;
    color: white;
    animation: pulse 1s infinite;

}
@keyframes pulse {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
}
/* community end */

/* kol quote start */
.kol-container {
    height: 100%;
    margin-bottom:20px ;
}
.kol-container {
    display: flex;
    align-items: center;
}
.kol-picture {
    height: 300px;
    width: auto;
}
.kol-cmt {
    padding: 20px;
    font-size: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote {
    font-size: 28px;
}
.quote-left {
    width: 100%;
    text-align: left;
    color: #FAD318;
}
.quote-right {
    width: 100%;
    text-align: left;
    transform: rotate(180deg);
    color: #FAD318;
}
.quote > span {
    font-size: 30px;
    font-weight: 600;
}
.comment-item {
    width: 100%;
    height: 300px;
    background-color: var(--secondary-color);
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 5px;
}
.comment-item p {
    margin: 0;
}
.owl-carousel .comment-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.comment-name {
    margin: 0;
}
.comment-star {
    color: #FAD318;
}
.cmt-date {
    font-size: 12px;
    color: #ccc;
}
.cmt-text {
    font-size: 14px;
}
.review-container h5 {
    color: white;
    font-weight: 600;
}
/* comment end */

/* email start */
.email-container {
    position: relative;
}
.email-container:hover img {
    transform: scale(1.2);
    overflow: hidden;
}
.email-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 3s ease;
}
.email-container {
    margin-top: 30px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.sign-up-news {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
    background-color: #DA6110;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}
.sign-up-news h4 {
    font-size: 30px;
    font-weight: 700;
}
.sign-up-news p {
    font-size: 14px;
}
.sign-up-news div {
    width: 80%;
    position: relative;
}
.sign-up-news div input {
    width: 100%;
    outline: none;
    height: 40px;
    border-radius: 50px;
    border: none;
}
.sign-up-news div button {
    background-color: #c89551;
    position: absolute;
    width: 20%;
    outline: none;
    height: 40px;
    border-radius: 50px;
    border: none;
    right: 0px;
}
/* email end */


/* button start */
.btn-nav {
    width: 200px;
    height: 40px;
    background: none;
    border: 1px solid;
    color: white;
    font-weight: 700;
}
.btn-nav:hover {
    background-color: rgba(0,0,0,.3);
    border-color: #fad318;
}


/* user dropdown */
.dropdown-item:hover {
    color: var(--secondary-color)!important;
}

.nav-bar button:first-child{
    color: #FAD318;
    border-bottom: 3px solid;
}
/* user dropdown end */

/* categories item */
.categories-banner {
    margin-bottom:20px ;
}
.categories-item {
    background-color: var(--main-color);
    font-size: 20px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.2);;
}
.categories-item:hover {
    background-color:   #32117d;
    cursor: pointer;
}
/* categories item end */


/* responsive */
@media (max-width: 1286px) {
    .product-card img {
        height: 250px;
    }
    .info-name-price h5 {
        font-size: 18px;
    }
}
@media (max-width: 1200px) {
    .product-card img {
        height: 240px;
    }
    .product-card .product-info a {
        height: 120px;
    }
    .info-name-price h5 {
        font-size: 15px;
    }
    .rcm-product-card-container1 > div:last-child {
        display: none;
    }
    .rcm-product-card-container2 > div:last-child {
        display: none;
    }
    .hot-game-container > div:last-child {
        display: none;
    }
  }

@media (max-width: 1176px) {
    .product-card img {
        height: 240px;
    }
    .product-card .product-info a {
        height: 100px;
    }
    .info-name-price h5 {
        font-size: 14px;
    }
    .coming-soon-pub img {
        height: 240px;
    }
    .coming-soon-pub-product img {
        height: 240px;
    }
    .coming-soon-product {
        margin-top: 20px;
    }
    .categories-item {
        font-size: 15px;
        gap: 10px;
    }
}
@media (max-width:992px) {
    .product-card img {
        height: 200px ;
    }
    .product-card .product-info a {
        height: 120px;
    }
    .info-name-price h5 {
        font-size: 14px ;
    }
    .rcm-banner > a > img {
        height: 50px;
        object-fit: cover;
        object-position: left;
    }
    .hot-game-banner > a > img {
        height: 50px;
        object-fit: cover;
        object-position: left;
    }
    .coming-soon-banner > a > img {
        height: 50px;
        object-fit: cover;
        object-position: left;
    }
    .categories-banner > img {
        height: 50px;
        object-fit: cover;
        object-position: left;
    }
    .coming-soon-pub-product img {
        height: 180px;
    }
    .coming-soon-pub img {
        height: 180px;
    }
}
@media (max-width:768px ) {
    .coming-soon-pub {
        margin-bottom: 20px;
    }
    .categories-item {
        font-size: 10px;
        gap: 5px;
    }
    .categories-item img {
        width: 30px;
        height: 30px;
    }
    .main-slider .owl-item img {
        height: 300px;
    }
    .kol-picture {
        height: 180px;
    }
    .quote {
        font-size: 20px;
    }
    .cmt-text {
        font-size: 12px;
    }
    .comment-name {
        font-size: 18px;
    }
}
@media (max-width:767px ) {
    .coming-soon-pub-product img {
        height: 240px;
    }
    .coming-soon-pub img {
        height: 240px;
    }
    .product-card img {
        height: 300px;
    }
}
@media (max-width: 650px) {
    .sign-up-news p {
        font-size: 10px;
    }
    .sign-up-news h4 {
        font-size: 20px;
    }
    .sign-up-news div button {
        font-size: 10px;
    }
    .sign-up-news div {
        width: 100%;
    }
    .sign-up-news {
        padding: 10px;
    }
}
@media (max-width: 576px) {
    .categories-item {
        font-size: 20px;
        gap: 20px;
    }
    .quote {
        font-size: 12px;
    }
    .quote-left, .quote-right {
        font-size: 20px;
    }
}
@media (max-width: 465px) {
    .coming-soon-pub-product img {
        height: 180px;
    }
    .product-card img {
        height: 200px;
    }
    .sign-up-news div button {
        font-size: 8px;
    }
    .sign-up-news div {
        width: 100%;
    }
}
@media (max-width: 370px) {
    .product-card img {
        height: 150px;
    }
    .rcm-banner a h4 {
        font-size: 15px;
    }

}
@media (max-width: 320px) {
    .kol-picture {
        height: 120px;
    } 
    
}