* {
    box-sizing: border-box;
}
body {
    background-color: #4618AC !important;
}

/* slider start */
.owl-carousel {
    color: black;
}
.slider {
    width: 100%;
    height: 100%;
    background-color: #4618AC;
    margin-top: 60px;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent !important;
}
.owl-nav .owl-next {
    right: 10px;
}
.owl-nav .owl-prev {
    left: 10px;
}
.owl-nav .owl-next span,.owl-nav .owl-prev span {
    font-size: 80px;
    color: #00e205;
}
.owl-nav .owl-next span:hover,.owl-nav .owl-prev span:hover {
    color: white;
}
.owl-dots {
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
}
.owl-carousel .owl-item img {
    height: 550px;
    object-fit: cover;
}
/* slider end */


/* recommended start */
.recommended {
    margin-top: 24px;
    background-color: #4618AC;
    margin-bottom: 24px;
}
.rcm-banner {
    cursor: pointer;
}
.rcm-banner img:hover {
    opacity: 0.8;
}


/* prouct-card-start */
.product-card {
    overflow: hidden;
    position: relative;
    margin-bottom: 24px;
    width: 100%;
    background-color: #1F0A4E;
    box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
}
.product-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.info-name-price {
    height: 100%;
}

.product-card .product-info a span p {
    margin: 0;
}
.product-card .product-info a {
    padding: 10px;
    flex-direction: column;
    display: flex;
    color: white;
    height: 140px;
    text-decoration: none;
}
.price-rating h6 span {
    font-size: 20px;
    color: white;
}
.price-rating h6 {
    color: #8F85A7;
}

.product-card:hover{
    cursor: pointer;
}
.product-card:hover img,.product-card:hover .product-info {
    opacity: 0.8;
}
.product-card:hover .product-overview {
    transform: translateY(0);
}
.info-name-price h6 a {
    text-decoration: none;
    color: white;
}
.product-overview {
    transform: translateY(-100%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
    max-height: 100%;
    top: 0px;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
}
.platforms-icon i {
    font-size: 20px;
    margin-right: 10px;
}
.product-overview h6 {
    margin: 0px;
    margin-top: 10px;
}
.product-rating {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(124, 252, 0 ,0.5);
    border-radius: 5px;
}
.product-rating.blue {
    border: 1px solid rgba(124, 252, 0 ,0.5);
    color: 	#7CFC00;
}
.product-rating.red {
    border: 1px solid rgba(255, 0, 0,0.5) ;
    color: red;

}
.product-rating.orange {
    border: 1px solid rgba(242, 121, 53, 0.5);
    color: orange;
}
.product-rating.yellow {
    border: 1px solid 	rgba(255,255,0, 0.5);
    color: yellow;
}
.product-rating span {
    font-size: 18px;
    font-weight: 600;
}
.add-to-cart, .add-to-cart1 {
    float: right;
}
.add-to-cart:hover {
    color: #FAD318;
}
/* .add-to-cart-icon {
    font-weight: 800;
    font-size: 30px;
} */


/*hot game banner start */
.hot-game {
    padding-bottom: 24px;
    padding-top: 24px;
    background-color: #311178;
}

.hot-game-banner {
    /* margin-top: 12px; */
    cursor: pointer;
}
.hot-game-banner img:hover {
    opacity: 0.8;
}

/* hot game banner end */

/* coming soon banner start */
.coming-soon {
    background-color: #4618AC;
    padding-top: 24px; 
    padding-bottom: 24px;
    /* padding-top: 24px; */
}
.coming-soon-banner img {
    width: 100%;
}
.coming-soon-banner img:hover {
    opacity: 0.8;
}
.coming-soon-product {
    margin-top: 30px;
}
.coming-soon-pub {
    box-shadow: 0 4px 5px rgb(0 0 0 / 20%);

}
.coming-soon-pub img {
    width: 100%;
    object-fit: cover;
    height: 320px;
}
.coming-soon-pub-product {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
    /* width: 100%; */
}
.coming-soon-pub-product img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.pub-product-overview {
    transform: translateY(-100%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
    max-height: 100%;
    top: 0px;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    font-size: 14px;
    text-align: center;
}
.coming-soon-pub-product:hover .pub-product-overview  {
    transform: translateY(0);
}
/* coming soon banner end */


/* categories-start */
.categories {
    background-color: #311178;
    padding-top: 24px; 
    padding-bottom: 24px;
}

/* categories end */

/* community banner start */
.community-banner {
    background-image: url(../images/community-bgr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 380px;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
.community-banner a {
    text-decoration: none;
    color: white;
    animation: pulse 1s infinite;

}
@keyframes pulse {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
}
/* community end */


/* user dropdown */
.dropdown-item:hover {
    color: #311178!important;
}

.nav-bar button:first-child{
    background-color: #1F0A4E;
    color: #FAD318;
}


/* categories item */
.categories-banner {
    margin-bottom:20px ;
}
.categories-item {
    background-color: #5825cc;
    font-size: 20px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.2);;
}
.categories-item:hover {
    background-color:   #32117d;
    cursor: pointer;
}

@media (max-width: 1176px) {
    .product-card img {
        height: 260px;
    }
    .product-card .product-info a {
        height: 100px;
    }
    .info-name-price h5 {
        font-size: 14px;
    }
    .coming-soon-pub img {
        height: 240px;
    }
    .coming-soon-pub-product img {
        height: 240px;
    }
    .coming-soon-product {
        margin-top: 20px;
    }
    .categories-item {
        font-size: 15px;
        gap: 10px;
    }
}
@media (max-width:768px ) {
    .coming-soon-pub {
        margin-bottom: 20px;
    }
    .categories-item {
        font-size: 10px;
        gap: 5px;
    }
    .categories-item img {
        width: 30px;
        height: 30px;
    }
    .owl-carousel .owl-item img {
        height: 300px;
    }
}