.nav-bar button:nth-child(3){
    background-color: #1F0A4E;
    color: #FAD318;
}
.nav-bar button:nth-child(2) {
    background: none;
    color: white;
}
.nav-bar button:nth-child(2):hover {
    background-color: #1F0A4E;
    color: #FAD318;
}