.nav-bar button:nth-child(3){
    color: #FAD318;
    border-bottom: 3px solid;
}
.nav-bar button:nth-child(2) {
    background: none;
    color: white;
    border: none;
}
.nav-bar button:nth-child(2):hover {
    color: #FAD318;
    border-bottom: 3px solid;
}