* {
    box-sizing: border-box;
}
body {
    background-color: var(--secondary-color) !important;
}
.logo {
    margin-top: 20px;
}
.signup-container {
    background-color: var(--main-color);
    padding: 30px;
    width: 400px;
    color: white;
}
/* .main-signup {
    margin-top: 10px;
} */
.signup-text h1 {
    font-size: 88px;
    color: white;
    font-weight: 700;
}
.signup-topbar > p {
    font-size: 12px;
}
.signup-topbar > p a {
    text-decoration: none;
    color: #fad318;
}
.signup-topbar > p a:hover {
    color: #CCAE1B;
}
.signup-content {
    font-size: 15px;
}
.signup-content div input {
    background-color: white;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 0;
    color: black;
}
.signup-content .show-password {
    color: #fad318;
    font-size: 12px;
    cursor: pointer;
}
.signup-content .show-password:hover {
     color: #CCAE1B;
}
.signup-content .form-check-label {
    font-size: 14px;
}
.sign-up-button {
    width: 100%;
    border-radius: 0;
    background-color: #fad318;
    color: black;
    border: none;
}
.sign-up-button:hover {
    background-color: #CCAE1B;
    color: black;
}
.password-rule li {
    font-size: 14px;
    /* color: red */
}
.password-err, .password-confirm-err, .checkbox-err, .email-err, .name-err {
    font-size: 12px;
    color: red;
    display: none;
}
.password-err.active,.password-confirm-err.active,.checkbox-err.active, .email-err.active, .name-err.active {
    display: block;
}
.logo img {
    width: 100px;
}
.signup {
    display: flex;
    justify-content: flex-end;
}
.signup-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@media (max-width: 768px) {
    .signup-text {
        display: none;
    }
    .signup {
        justify-content: center;
    }
    .main-signup {
        margin-top: 20px;
    }
    .logo {
        text-align: center;
    }
}
@media (max-width: 400px) {
    .password-rule li,.signup-content .form-check-label {
        font-size: 12px;
    }
}